@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #141d28;
}

.search__container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

/* .search__checkbox {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 100;
} */

.search__input-container {
  width: max-content;
  max-width: 1000px;
  color: aquamarine;
  display: flex;
  align-items: center;
}

.search__input {
  color: aquamarine;

  height: 80px;
  width: 100%;
  background-color: transparent;
  box-shadow: inset -3.39px 3.11px 6.5px -0.81px rgba(253, 252, 252, 0.15),
    inset 5.09px -4.66px 6.5px -0.81px rgba(253, 252, 252, 0.3),
    -10.18px 9.32px 4.87px -2.44px rgba(253, 252, 252, 0.6);
  border: none;
  /* border-radius: 50px; */
  border-radius: 50px;
  padding: 10px 20px 10px 80px;
  font-size: 2.2rem;
  transition: 0.5s ease;
  transform: translate(-18px, 8px);
  
}

.search__input:focus {
  outline: none;
}

.icon {
  position: absolute;
  bottom: 0;
  font-size: 2.8rem;
  padding: 5px;
  transition: 0.3s ease;
}
